.footer {
  .icon {
    color: #fff;
    font-size: 1.4rem;
    margin: 0.5rem;
    cursor: pointer;
    float: right;
    transition: .2s ease-in;
  }

  .icon:hover {
    transform: scale(1.2);
    transition: .2s ease-out;
  }

  z-index: 1;
}

// media query for mobile devices
@media (max-width: 768px) {
  .footer {
    .icon {
      display: none;
    }
  }
}

// media query for tablet devices
@media (max-width: 1024px) {
  .footer {
    .icon {
      display: none;
    }
  }
}