.main {
  position: absolute;
  width: 100%;
  min-height: 100vh;

  .title {
    position: absolute;
    z-index: 1;
    font-weight: 600;
    left: 50px;
    top: 4.5px;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .title {
    margin-top: 3px;
  }
}