.box {
  position: relative;
  top: 40px;
  left: 30px;
  background-color: hsla(255, 255, 255, 1);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 680px;
  height: 440px;
  overflow: hidden;

  .box_bar {
    display: flex;
    align-items: center;
    padding: 10px 10px 0px 10px;

    .box_bar_close {
      display: flex;
      flex-direction: row;

      ul {
        display: flex;
        flex-direction: row;
        gap: 4px;

        li {
          border-radius: 50%;
          width: 15px;
          height: 15px;
        }

        .close {
          background-color: #F84142;

          &:hover {
            background-color: #c42b2b;
          }
        }

        .minimize {
          background-color: #F9BD0C;
        }

        .expand {
          background-color: #01B82E;
        }
      }
    }

    .box_bar_title {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: .95rem;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }

  hr {
    opacity: .2;
    margin-bottom: 0;
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: center;
    gap: 1rem;
    padding: calc(1rem + 1px) 1rem 1rem 1rem;
    flex-wrap: wrap;

    a {
      height: fit-content;
    }

    .items {
      line-height: initial;
      padding: 1rem 1rem 0 1rem;
      width: min-content;

      &:hover {
        background-color: rgba(208, 208, 208, 0.5);
        border-radius: 6px;
      }

      &:active {
        background-color: rgba(208, 208, 208, 0.9);
        border-radius: 6px;
      }

      img {
        width: 80px;
        border-radius: 1rem;
        filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, .25));
      }

    }

    a {
      color: #000;
    }
  }
}

// device query

@media (max-width: 768px) {
  .box {
    width: 350px;
    height: 700px;
    top: 80px;
    left: 20px;

    .main {
      display: grid;
      grid-template-columns: 140px 140px;
      grid-template-rows: 140px 140px 140px 140px;
      place-content: center;
      gap: 1rem 1rem;

      .items {
        width: 100%;
      }
    }
  }
}

@media (max-width: 375px) {
  hr {
    display: none;
  }

  .box {
    width: calc(100vw - 20px);
    height: calc(100vh - 160px);
    left: 10px;
    top: 90px;

    .main {
      gap: 0 2rem;
      padding: 0;
      align-items: center;

      .items {
        padding: 0;
        margin: 0 auto;

        p {
          font-size: .8rem;
        }

        img {
          width: 60px;
        }
      }
    }
  }
}